@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:100;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:400;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:700;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:900;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}
.ani0 {
	-webkit-transition: 100ms ease;
	-moz-transition: 100ms ease;
	-o-transition: 100ms ease;
	transition: 100ms ease;
}
.ani1 {
	-webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;
}
.ani2 {
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}
.ani3 {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}
.ani5 {
	-webkit-transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-ms-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
}
.ani7 {
	-webkit-transition: all 700ms linear;
	-moz-transition: all 700ms linear;
	-ms-transition: all 700ms linear;
	-o-transition: all 700ms linear;
	transition: all 700ms linear;
}
.ani8 {
	-webkit-transition: all 800ms linear;
	-moz-transition: all 800ms linear;
	-ms-transition: all 800ms linear;
	-o-transition: all 800ms linear;
	transition: all 800ms linear;
}
.playF {
	font-family: 'Playfair Display', serif;
}
.homeF {
	font-family: 'Homemade Apple', cursive;
}
/* **************************** //필수 CSS 수정 및 삭제 불가 **************************** */

/* tag reset */

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
	margin:0;
	padding:0;
}
html {
	width:100%;
	height:100%;
}
body {
	font:0.75em 'Noto Sans KR', sans-serif;
	color:#000;
	background:#fff;
}
li {
	list-style:none;
}
img, fieldset {
	border:none;
	vertical-align:top;
}
table {
	width:100%;
	border:0;
	border-spacing:0;
	border-collapse:collapse;
}
caption {
	display:none;
}
th, td {
	border:0;
	vertical-align:top;
}
button {
	overflow:visible;
	padding:0;
	margin:0;
	border:0;
	cursor:pointer;
}
button:focus, input:focus {
	outline:none;
}
textarea {
	font-family:'Noto Sans KR', sans-serif;
}
hr.layout {
	display:none;
}
a {
	text-decoration:none;
	color:#000;
}
a:focus, img:focus {
	outline:none;
}
a:hover {
}
a:active {
	text-decoration:none;
}
div:focus {
	outline:none;
}
.displaynone {
	display:none;
}
/* **************************** 필수 CSS 수정 및 삭제 불가 **************************** */

/* Layout */
#header {
	position:relative;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:11;
	height:85px;
}
#header a {
	cursor:pointer;
	display:block;
}
#header .xans-layout-logotop {
	position:absolute;
	line-height:84px;
	left:5vw;
}
#header .xans-layout-logotop a {
	font-weight:normal;
	font-size:30px;
}
#header .xans-layout-logotop a:hover {
	opacity:0.5;
	filter:alpha(opacity=50);
}
#main #header .xans-layout-logotop a {
	color:#fff;
}
#main #header.fix .xans-layout-logotop a {
	color:#000;
}
#header .asideArea {
	position:absolute;
	left:50%;
	margin-left:-20px;
	top:27px;
}
#header .asideArea .asideBtn {
	padding:10px 5px;
	display:block;
	background:url(/design/moodnight/homepage/img/aside_menu_ico_bk.png) center no-repeat;
	width:29px;
	height:11px;
	background-size:29px 11px;
	position:relative;
}
#header .asideArea .asideBtn:hover {
	opacity:0.5;
	filter:alpha(opacity=50);
}
#main #header .asideArea .asideBtn {
	background:url(/design/moodnight/homepage/img/aside_menu_ico.png) center no-repeat;
	background-size:29px 11px;
}
#main #header.fix .asideArea .asideBtn {
	background:url(/design/moodnight/homepage/img/aside_menu_ico_bk.png) center no-repeat;
	background-size:29px 11px;
}
body.asideopen #header .asideArea .asideBtn {
	visibility:hidden;
	opacity:0;
	filter:alpha(opacity=00);
}
#header .rightArea {
	position:absolute;
	right:5vw;
}
#main #header .rightArea a {
	color:#fff;
}
#main #header.fix .rightArea a {
	color:#000;
}
#header .rightArea > ul {
	font-size:0;
}
#header .rightArea > ul > li {
	display:inline-block;
	vertical-align:top;
	font-size:13px;
	position:relative;
	margin-left:4.5vw;
	margin-top:33px;
}
#header .rightArea > ul > li > a {
	line-height:1;
	position:relative;
	padding:2px 3px;
}
#header .rightArea > ul > li > a:after {
	content:'';
	position:absolute;
	bottom:-5px;
	left:50%;
	width:0;
	height:1px;
	background:#000;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}
#main #header .rightArea > ul > li > a:after {
	background:#fff;
}
#main #header.fix .rightArea > ul > li > a:after {
	background:#000;
}
#header .rightArea > ul > li:hover > a:after {
	width:100%;
	left:0;
}
#header .rightArea > ul > li.searchArea .searchOpen {
	padding:5px;
	display:block;
	background:url(/design/moodnight/homepage/img/top_search_ico_bk.png) center no-repeat;
	width:28px;
	height:22px;
	background-size:28px 22px;
	position:absolute;
	top:-8px;
	right:0;
}
#header .rightArea > ul > li.searchArea .searchOpen:after {
	width:0;
}
#header .rightArea > ul > li.searchArea .searchOpen:hover {
	opacity:0.5;
	filter:alpha(opacity=50);
}
#main #header .rightArea > ul > li.searchArea .searchOpen {
	background:url(/design/moodnight/homepage/img/top_search_ico.png) center no-repeat;
	background-size:28px 22px;
}
#main #header.fix .rightArea > ul > li.searchArea .searchOpen {
	background:url(/design/moodnight/homepage/img/top_search_ico_bk.png) center no-repeat;
	background-size:28px 22px;
}
#header .rightArea > ul > li.searchArea.open .searchOpen {
	background:url(/design/moodnight/homepage/img/search_close_btn_bk.png) center no-repeat;
	background-size:28px 22px;
}
#main #header .rightArea > ul > li.searchArea.open .searchOpen {
	background:url(/design/moodnight/homepage/img/search_close_btn.png) center no-repeat;
	background-size:28px 22px;
}
#main #header.fix .rightArea > ul > li.searchArea.open .searchOpen {
	background:url(/design/moodnight/homepage/img/search_close_btn_bk.png) center no-repeat;
	background-size:28px 22px;
}
#header .rightArea > ul > li.searchArea .xans-layout-searchheader {
	position:absolute;
	width:430px;
	height:80px;
	background:rgba(0,0,0,0.7);
	top:40px;
	left:50%;
	margin-left:-235px;
	box-sizing:border-box;
	padding:20px;
	visibility:hidden;
	opacity:0;
	filter:alpha(opacity=00);
}
#header .rightArea > ul > li.searchArea.open .xans-layout-searchheader {
	visibility:visible;
	opacity:1;
	filter:alpha(opacity=100);
	top:35px;
}
#header .rightArea > ul > li.searchArea .xans-layout-searchheader #keyword {
	height:40px;
	padding:0 10px;
	border:0;
	width:350px;
	background:none;
	box-sizing:border-box;
	border-bottom:1px solid rgba(255,255,255,0.3);
	color:#fff;
	font-size:13px;
}
#header .rightArea > ul > li.searchArea .xans-layout-searchheader input[type=image] {
	position:absolute;
	right:17px;
	top:28px;
}
#header .rightArea > ul > li.cartArea {
	padding-right:25px;
}
#header .rightArea > ul > li.cartArea a .count {
	position:absolute;
	left:38px;
	top:2px;
	line-height:1;
}
#header .rightArea > ul > li .mySub {
	position:absolute;
	width:80px;
	text-align:center;
	left:50%;
	margin-left:-40px;
	top:25px;
	padding:20px 0;
	visibility:hidden;
	opacity:0;
	filter:alpha(opacity=00);
}
#header .rightArea > ul > li .mySub li {
	display:block;
}
#header .rightArea > ul > li .mySub a {
	font-size:12px;
	line-height:1.8;
	position:relative;
	display:inline-block;
	padding:0 3px;
}
#header .rightArea > ul > li .mySub a:after {
	content:'';
	position:absolute;
	bottom:1px;
	left:50%;
	width:0;
	height:1px;
	background:#000;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}
#main #header .rightArea > ul > li .mySub a:after {
	background:#fff;
}
#main #header.fix .rightArea > ul > li .mySub a:after {
	background:#000;
}
#header .rightArea > ul > li .mySub a:hover:after {
	width:100%;
	left:0;
}
#header .rightArea > ul > li.myArea:hover .mySub {
	top:20px;
	visibility:visible;
	opacity:1;
	filter:alpha(opacity=100);
}
#aside {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background:rgba(0,0,0,0.45);
	z-index:11;
	top:-100vh;
	visibility:hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
body.asideopen #aside {
	top:0;
	visibility:visible;
}
#aside .asideBox {
	width:600px;
	margin:0 auto;
	background:rgba(0,0,0,0.7);
	min-height:100vh;
}
#aside .asideBox a, #aside .asideBox p {
	color:#fff;
}
#aside .asideBox h1 {
	margin-bottom:2vh;
}
#aside .asideBox h1 {
	font-weight:400;
	text-decoration:underline;
	font-size:3vh;
	color:#fff;
}
#aside .asideBox h1 a:hover {
	opacity:.5;
	filter:alpha(opacity=50);
}
#aside .asideBox .menuBox {
	margin-bottom:4vh;
}
#aside .asideBox .menuBox a {
	font-size:1.7vh;
	font-weight:100;
	position:relative;
}
#aside .asideBox .menuBox a:after {
	content:'';
	position:absolute;
	bottom:1px;
	left:50%;
	width:0;
	height:1px;
	background:#fff;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}
#aside .asideBox .menuBox a:hover:after {
	width:100%;
	left:0;
}
#aside .asideBox .topArea {
	height:60vh;
	box-sizing:border-box;
	padding-top:15vh;
	border-bottom:1px solid #3d3d3d;
	margin:0 50px;
}
#aside .asideBox .bottomArea {
	height:40vh;
	margin:0 50px;
	box-sizing:border-box;
	padding-top:6vh;
}
#aside .asideClose {
	position:absolute;
	top:26px;
	left:50%;
	cursor:pointer;
	margin-left:-18px;
}
.asideBox {
	text-align:center;
}
#wrap {
	position:relative;
	width:100%;
	margin:180px auto 0;
	max-width:1200px;
}
#main #wrap {
	margin:0 auto;
	max-width:100%;
}
#wrap.listWrap {
	font-size:0;
	max-width:100%;
}
#wrap.listWrap > div {
	display:inline-block;
	vertical-align:top;
}
#wrap.listWrap #container {
	width:80%;
	max-width:1440px;
	margin:0 auto;
}
body.asideopen #wrap, body.asideopen #header, body.asideopen #footer {
	animation:blur 0.5s linear;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}
@keyframes blur {
 0% {
-webkit-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
}
 30% {
-webkit-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
}
 100% {
-webkit-filter: blur(2px);
 -moz-filter: blur(2px);
 -o-filter: blur(2px);
 -ms-filter: blur(2px);
 filter: blur(2px);
}
}
#container {
	width:100%;
	margin:0 auto;
*zoom:1;
}
#container:after {
	content:"";
	display:block;
	clear:both;
}
#main [data-aos^=zoom][data-aos^=zoom], #main [data-aos^=fade][data-aos^=fade] {
	opacity:1;
}
.mainSlide .swiper-slide-active {
	z-index:11;
}
.mainSlide .swiper-slide img {
	width:100%;
}
.mainSlide.swiper-container-horizontal>.swiper-pagination-bullets, .mainSlide .swiper-pagination-custom, .mainSlide .swiper-pagination-fraction {
	bottom:55px;
}
.mainSlide.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	width:14px;
	height:14px;
	background:url(/design/moodnight/homepage/img/slide_circle_solid.png) no-repeat;
	background-size:100%;
	font-size:0;
	opacity:1;
	margin:0 6px;
}
.mainSlide.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background:url(/design/moodnight/homepage/img/slide_circle.png) no-repeat;
	background-size:100%;
}
.scrollArrow {
	position:fixed;
	bottom:50px;
	right:30px;
	z-index:11;
}
.scrollArrow.fix {
	visibility:hidden;
opacity;
0;
filter(opacity=00);
}
.scrollArrow img {
	position:relative;
}
.mainMidBanner {
	background:#d0d0c2;
	text-align:center;
}
.mainMidBanner .box {
	padding:15vh 0;
	position:relative;
}
.mainMidBanner h1.subTit {
	color:#fff;
	font-size:4vw;
	font-weight:normal;
	line-height:1;
	padding-top:13vh;
	padding-bottom:1vh;
}
.mainMidBanner .mainImg {
	position:relative;
}
.mainMidBanner h2.mainTit {
	color:#fff;
	font-size:8.2vw;
	font-weight:normal;
	line-height:1;
	position:absolute;
	top:2%;
	left:50%;
	margin-left:-26vw;
	z-index:2;
}
.mainMidBanner .mainImg .img {
	position:relative;
	left:50%;
	transform: translate(-50%, 0);
	height:44vw;
	overflow:hidden;
}
.mainMidBanner .mainImg .img img {
	height:100%;
	position:relative;
}
.mainMidBanner .mainImg .circle {
	position:absolute;
	z-index:1;
	top:0.5%;
	background:url(/design/moodnight/homepage/img/main_circle_shape.png) no-repeat;
	background-size:100%;
	width:22vw;
	height:22vw;
	right:50%;
	margin-right:12vw;
}
.mainMidBanner .mainImg .circle .txt {
	position:absolute;
	left:25%;
	bottom:35%;
	font-weight:100;
	font-size:13px;
}
.mainMidBanner .mainImg .circle .plus {
	position:absolute;
	left:25%;
	bottom:20%;
}
.mainMidBanner .mainImg .sideTxt {
	color:#fff;
	position:absolute;
	top:60%;
	text-align:left;
	left:50%;
	margin-left:16vw;
	font-size:0.6vw;
	font-weight:100;
}
.campaignPrdArea {
	width:100%;
	overflow:hidden;
	position:relative;
	padding:10vw 0 14vw;
}
.campaignPrdArea .swiper-container {
	width:70%;
	margin:0 auto;
	overflow:initial;
	max-width:1350px;
}
.campaignPrdArea .swiper-button-next, .campaignPrdArea .swiper-button-prev {
	width:60px;
	height:120px;
	margin-top:-60px;
	background-size: 60px 120px;
	top:30vw;
}
.campaignPrdArea .swiper-button-prev {
	background-image: url(/design/moodnight/homepage/img/arrow_left.png);
	left: 2%;
	right: auto;
}
.campaignPrdArea .swiper-button-next {
	background-image: url(/design/moodnight/homepage/img/arrow_right.png);
	right: 2%;
	left: auto;
}
.editorialArea {
	width:100%;
	background:#a8aebc;
}
.editorialArea .box {
	padding:12vw 0 12vw 5vw;
	position:relative;
}
.editorialArea .box > div {
	display:inline-block;
	vertical-align:top;
}
.editorialArea .box .leftArea .img.top {
	width:12.5vw;
	margin-bottom:40px;
}
.editorialArea .box .leftArea .img.bottom {
	width:12.7vw;
}
.editorialArea .box .leftArea .img img {
	width:100%;
}
.editorialArea .box .centerText {
	left:23vw;
	position:absolute;
	z-index:2;
	color:#fff;
	top:15vw;
}
.editorialArea .box .centerText .tit {
	font-size:4vw;
	letter-spacing:0.1vw;
	padding-bottom:1.5vw;
}
.editorialArea .box .centerText .txt {
	font-size:0.7vw;
	letter-spacing:0.05vw;
	line-height:1.6;
}
.editorialArea .box .centerImg {
	position:absolute;
	z-index:1;
	left:50%;
	top:-3vw;
}
.editorialArea .box .centerImg .img img {
	width:100%;
}
.editorialArea .box .centerImg .top {
	width:26vw;
}
.editorialArea .box .centerImg .bottom {
	width:15vw;
	margin-left:13vw;
	margin-top:0.7vw;
}
.editorialArea .box .centerImg .bottom .over {
	position:absolute;
	bottom:-4vw;
	right:-1vw;
	width:7vw;
}
.editorialArea .box .rightArea {
	position:absolute;
	right:0;
}
.editorialArea .box .rightArea .img {
	font-size:0;
}
.editorialArea .box .rightArea .img img {
	width:100%;
}
.editorialArea .box .rightArea .img div {
	display:inline-block;
	vertical-align:top;
	width:8vw;
}
.editorialArea .box .rightArea .img div.right {
	margin-left:1vw;
}
.editorialArea .box .rightArea .txt {
	margin-top:1vw;
	color:#fff;
	font-size:0.6vw;
	font-weight:100;
}
.halfFullBanner ul {
	font-size:0;
}
.halfFullBanner ul li {
	display:inline-block;
	vertical-align:top;
	width:50%;
	overflow:hidden;
	position:relative;
}
.halfFullBanner ul li .txt {
	position:absolute;
	left:1vw;
	top:1vw;
	font-size:9.5vw;
	color:rgba(255,255,255,0.4);
	line-height:1;
}
.halfFullBanner ul li img {
	width:100%;
}
#header .asideArea strong {
	display: inline-block;
	vertical-align: middle;
	width: 23px;
}
#header .asideArea strong span {
	display: block;
	width: 100%;
	height: 2px;
	margin: 4px 0;
	background: #000;
}
#header .asideArea strong span:nth-child(2) {
	width: 75%;
}
#header .asideArea:hover strong span:nth-child(1) {
	width: 80%;
}
#header .asideArea:hover strong span:nth-child(2) {
	width: 80%;
}
#header .asideArea:hover strong span:nth-child(3) {
	width: 80%;
}
