@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:100;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:400;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:700;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:900;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}
.ease1 {
	-webkit-transition: 100ms ease;
	-moz-transition: 100ms ease;
	-o-transition: 100ms ease;
	transition: 100ms ease;
}
.ease2 {
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}
.ease3 {
	-webkit-transition: 300ms ease;
	-moz-transition: 300ms ease;
	-o-transition: 300ms ease;
	transition: 300ms ease;
}
.ease4 {
	-webkit-transition: 400ms ease;
	-moz-transition: 400ms ease;
	-o-transition: 400ms ease;
	transition: 400ms ease;
}
.ease5 {
	-webkit-transition: 500ms ease;
	-moz-transition: 500ms ease;
	-o-transition: 500ms ease;
	transition: 500ms ease;
}
.ease-1 {
	-webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;
}
.ease-2 {
	-webkit-transition: 200ms ease-in-out;
	-moz-transition: 200ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
}
.ease-3 {
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}
.ease-4 {
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-o-transition: 400ms ease-in-out;
	transition: 400ms ease-in-out;
}
.ease-5 {
	-webkit-transition: 500ms ease-in-out;
	-moz-transition: 500ms ease-in-out;
	-o-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}
.linear2 {
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}
.linear3 {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}
.linear5 {
	-webkit-transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-ms-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
}
.linear7 {
	-webkit-transition: all 700ms linear;
	-moz-transition: all 700ms linear;
	-ms-transition: all 700ms linear;
	-o-transition: all 700ms linear;
	transition: all 700ms linear;
}
.linear8 {
	-webkit-transition: all 800ms linear;
	-moz-transition: all 800ms linear;
	-ms-transition: all 800ms linear;
	-o-transition: all 800ms linear;
	transition: all 800ms linear;
}
.playF {
	font-family: 'Playfair Display', serif;
}
.homeF {
	font-family: 'Homemade Apple', cursive;
}
/* **************************** //í•„ìˆ˜ CSS ìˆ˜ì • ë° ì‚­ì œ ë¶ˆê°€ **************************** */

/* tag reset */

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
	margin:0;
	padding:0;
}
html {
	width:100%;
	height:100%;
}
body {
	font:0.75em 'Noto Sans KR', sans-serif;
	color:#000;
	background:#fff;
}
li {
	list-style:none;
}
img, fieldset {
	border:none;
	vertical-align:top;
}
table {
	width:100%;
	border:0;
	border-spacing:0;
	border-collapse:collapse;
}
caption {
	display:none;
}
th, td {
	border:0;
	vertical-align:top;
}
button {
	overflow:visible;
	padding:0;
	margin:0;
	border:0;
	cursor:pointer;
}
button:focus, input:focus {
	outline:none;
}
textarea {
	font-family:'Noto Sans KR', sans-serif;
}
hr.layout {
	display:none;
}
a {
	text-decoration:none;
	color:#000;
}
a:focus, img:focus {
	outline:none;
}
a:hover {
}
a:active {
	text-decoration:none;
}
div:focus {
	outline:none;
}
.displaynone {
	display:none;
}
/* **************************** í•„ìˆ˜ CSS ìˆ˜ì • ë° ì‚­ì œ ë¶ˆê°€ **************************** */

/* Layout */
#header {
	position:relative;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:11;
	height:85px;
}
#header a {
	cursor:pointer;
	display:block;
}
#header .xans-layout-logotop {
	position:absolute;
	line-height:84px;
	left:5vw;
}
#header .xans-layout-logotop a {
	font-weight:normal;
	font-size:30px;
}
#header .xans-layout-logotop a:hover {
	opacity:0.5;
	filter:alpha(opacity=50);
}
#header .xans-layout-logotop a {
	color:#fff;
}
#header.fix .xans-layout-logotop a {
	color:#000;
}
#header .asideArea {
	position:absolute;
	left:50%;
	margin-left: -15px;
	top: 33px;
	cursor: pointer;
}
#header .rightArea {
	position:absolute;
	right:5vw;
}
#header .rightArea a {
	color:#fff;
}
#header.fix .rightArea a {
	color:#000;
}
#header .rightArea > ul {
	font-size:0;
}
#header .rightArea > ul > li {
	display:inline-block;
	vertical-align:top;
	font-size:13px;
	position:relative;
	margin-left:4.5vw;
	margin-top:33px;
}
#header .rightArea > ul > li > a {
	line-height:1;
	position:relative;
	padding:2px 3px;
}
#header .rightArea > ul > li > a:after {
	content:'';
	position:absolute;
	bottom:-5px;
	left:50%;
	width:0;
	height:1px;
	background:#000;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}
#header .rightArea > ul > li > a:after {
	background:#fff;
}
#header.fix .rightArea > ul > li > a:after {
	background:#000;
}
#header .rightArea > ul > li:hover > a:after {
	width:100%;
	left:0;
}
#aside {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background:rgba(0,0,0,0.45);
	z-index:11;
	top:-100vh;
	visibility:hidden;
}
body.asideopen #aside {
	top:0;
	visibility:visible;
}
#aside .asideBox {
	width: 30%;
	margin:0 auto;
	background:rgba(0,0,0,0.7);
	min-height: 100%;
	min-width: 355px;
}
#aside .asideBox {
	color:#fff;
}
#aside .asideBox h1 {
	margin-bottom: 4vh;
}
#aside .asideBox h1 {
	font-weight:400;
	text-decoration:underline;
	font-size:3vh;
	color:#fff;
}
#aside .asideBox h1 a {
	color:#fff;
}
#aside .asideBox h1 a:hover {
	opacity:.5;
	filter:alpha(opacity=50);
}
#aside .asideBox .menuBox {
	margin-bottom: 3vh;
	font-size: 1.5vh;
	font-weight: 100;
}
#aside .asideBox .menuBox span {
	font-size: 1.5vh;
	font-weight:100;
}
#aside .asideBox .topArea {
	height: 60vh;
	padding-top: 21vh;
	border-bottom: 1px solid #333;
	margin: 0 5vh;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#aside .asideBox .bottomArea {
	height: 40vh;
	margin:0 50px;
	padding-top: 5vh;
	position: relative;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#aside .asideClose {
	position:absolute;
	top: 50px;
	left:50%;
	cursor:pointer;
	margin-left: -18px;
}
.asideBox {
	text-align:center;
}
#aside .asideBox .txt {
	font-size: 1vh;
	font-weight: 100;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
}
#wrap {
	position:relative;
	width:100%;
	margin:0 auto;
}
body.asideopen #wrap, body.asideopen #header {
	animation:blur 0.5s linear;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}
@keyframes blur {
 0% {
-webkit-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
}
 30% {
-webkit-filter: blur(0px);
 -moz-filter: blur(0px);
 -o-filter: blur(0px);
 -ms-filter: blur(0px);
 filter: blur(0px);
}
 100% {
-webkit-filter: blur(2px);
 -moz-filter: blur(2px);
 -o-filter: blur(2px);
 -ms-filter: blur(2px);
 filter: blur(2px);
}
}
#container {
	width:100%;
	margin:0 auto;
*zoom:1;
}
#container:after {
	content:"";
	display:block;
	clear:both;
}
.mainSlide .swiper-slide-active {
	z-index:11;
}
.mainSlide .swiper-slide img {
	width:100%;
}
.scrollArrow {
	position:fixed;
	bottom:50px;
	right: 0;
	left: 0;
	z-index:11;
	text-align: center;
	width: 70px;
	margin: 0 auto;
}
.scrollArrow.fix {
	visibility:hidden;
opacity;
0;
filter(opacity=00);
}
.scrollArrow img {
	position:relative;
}
.scrollArrow:after {
	content: "Click";
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 5px;
	opacity:0;
	position: absolute;
	top: -28px;
	left: 0;
	right: 0;
	text-align: center;
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}
.scrollArrow:hover:after {
	content: "Click";
	opacity:1;
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}
.mainMidBanner {
	background:#d0d0c2;
	text-align:center;
}
.mainMidBanner .box {
    /* padding: 7vh 0; */
    padding: 80px 0;
	position:relative;
}
.mainMidBanner h1.subTit {
	color:#fff;
    font-size: 5vw;
    font-size: 5vh;
	font-weight:normal;
	line-height:1;
	padding-top: 0;
	padding-bottom:1vh;
}
.mainMidBanner .mainImg {
	position:relative;
}
.mainMidBanner h2.mainTit {
	color:#fff;
    /* font-size: 8vw; */
    font-size: 8vh;
	font-weight:normal;
	line-height:1;
	position:absolute;
	top:2%;
	left: 0;
	right: 0;
	z-index:2;
}
.mainMidBanner .mainImg .img {
	position:relative;
	left:50%;
	transform: translate(-50%, 0);
	height: 53vw;
	overflow:hidden;
}
.mainMidBanner .mainImg .img img {
	height:100%;
	position:relative;
}
.mainMidBanner .mainImg .circle {
	position:absolute;
	z-index:1;
	top:0.5%;
	background:url(/design/moodnight/homepage/img/main_circle_shape.png) no-repeat;
	background-size:100%;
	width:22vw;
	height:22vw;
	right:50%;
	margin-right:12vw;
}
.mainMidBanner .mainImg .circle .txt {
	position:absolute;
	left:25%;
	bottom:35%;
	font-weight:100;
	font-size:13px;
}
.mainMidBanner .mainImg .circle .plus {
	position:absolute;
	left:25%;
	bottom:20%;
}
.mainMidBanner .mainImg .sideTxt {
	color:#fff;
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align:left;
	/* left:50%; */
	/* margin-left:16vw; */
	right: 0;
	margin-right: 2vw;
	font-size: 1.8vw;
	font-weight:100;
	background: url('../images/info.png') no-repeat;
	background-size: 64%;
	background-position: bottom right;
	padding-bottom: 4vh;
} 
.halfFullBanner {
    background: #a8aebc;
    padding: 84px 0;
}
.halfFullBanner ul {
	font-size:0;
    width: 80%;
}
.halfFullBanner ul li {
	display:inline-block;
	vertical-align:top;
	width:50%;
/*	overflow:hidden; */
	position:relative;
}
.halfFullBanner ul li .txt {
    position: absolute;
    right: -7vw;
    top: -3vw;
    font-size: 7.5vw;
    color: rgba(255,255,255,0.7);
    line-height: 1;
    text-align: center;
}
.halfFullBanner ul li img {
	width:100%;
}
#header .asideArea strong {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
}
#header .asideArea strong span {
	display: block;
	width: 100%;
	height: 2px;
	margin: 4px 0;
	background: #fff;
}
#header.fix .asideArea strong span {
	background: #000;
}
#header .asideArea strong span:nth-child(2) {
	width: 75%;
}
#header .asideArea:hover strong span:nth-child(1) {
	width: 80%;
}
#header .asideArea:hover strong span:nth-child(2) {
	width: 100%;
}
#header .asideArea:hover strong span:nth-child(3) {
	width: 80%;
}
.mainSlide {
	height: 970px;
}
.mainSlide .swiper-slide {
	background-size: cover;
	background-position: center;
}
.editorialArea .box .centerText .txt a {
    color: #fff;
    position: relative;
    display: inline-block;
}

.editorialArea .box .centerText .txt a:after {content:"";background: #687e99;opacity: 0.4;display: block;width: 112%;height: 1vw;position: absolute;bottom: 2px;left: -10px;right: 0;}
 
.mainMidBanner .mainImg .leftTxt {
    color: #fff;
    position: absolute;
    bottom: 0;
    text-align: left;
    /* left: 50%; */
    /* margin-left: 16vw; */
    left: 0;
    margin-left: 2vw;
    font-size: 1.8vw;
    font-weight: 100; 
}

.mainMidBanner .mainImg .leftTxt h2 {
    font-weight: 400;
    font-size: 5vh;
}
.ex {
    position: fixed;
    bottom: 0;
    z-index: 22;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
    background: rgb(255 255 255 / 0.25);
    height: 44px;
    line-height: 44px;
}
.halfFullBanner ul {
    width: 80%;
    margin: 0 auto;
}

.halfFullBanner {
    background: #a8aebc;
    padding: 80px 0;
}
/* phone */
 
@media all and (max-width:767px) {
#header .asideArea {
	left: unset;
	right: 5vw;
	top: 25px;
}
#header .rightArea {
	top: 40px;
}
#header .rightArea > ul {
	text-align: right;
}
#header .rightArea > ul > li {
	display: block;
	margin-left: 0;
}
#header .rightArea > ul > li > a {
	display: inline-block;
}
.mainMidBanner .mainImg .sideTxt {
    font-size: 4vw;
    text-align: right;
    top: 77%;
    transform: translateY(0);
}
.mainMidBanner h2.mainTit {
    font-size: 6vw;
}

.mainMidBanner h1.subTit {font-size: 3.5vw;}

.mainMidBanner .box {
    padding: 16vh 0;
}
.mainMidBanner .mainImg .img { 
    height: 79vw; 
}

 
.mainMidBanner .mainImg .leftTxt {
    font-size: 4vw;
    bottom: 30%;
}

.mainMidBanner .mainImg .leftTxt h2 {
    font-size: 7vw;
}
.halfFullBanner {
    padding: 5vh 0;
}
.halfFullBanner ul li .txt {
    font-size: 5vw;
    right: -5vw;
}
}
